// Variables
$gray:        #9B9B9B;
$light-gray:  #F8F8F8;
$dark-gray:   #4A4A4A;
$off-green:   #00B2BA;
$purple:      #72206D;

$light:       300;
$regular:     400;
$bold:        700;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Mixins
@mixin sm {
    @media (min-width: map-get($grid-breakpoints, 'sm')) { @content; }
}

@mixin md {
    @media (min-width: map-get($grid-breakpoints, 'md')) { @content; }
}

@mixin lg {
    @media (min-width: map-get($grid-breakpoints, 'lg')) { @content; }
}

@mixin xl {
    @media (min-width: map-get($grid-breakpoints, 'xl')) { @content; }
}

// Override Luminate CustomStyle.css :/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'Avenir', 'Lato', sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $off-green !important;

  &:hover {
    color: darken($off-green, 6%);
  }
}

strong {
  font-weight: bold;
}

.line-after {
  text-align: center;

  &:after {
    content: "\00A0";
    display: block;
    width: 180px;
    height: 2px;
    margin: 20px auto 0;
    background-color: $purple;
    margin-bottom: 30px;
  }
}

.button {
  display: inline-block;
  color: white !important;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  border: none;
  border-radius: 0;
  padding: 10px 40px;
  text-align: center;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.button-green {
  background-color: $off-green;

  &:hover {
    background-color: darken($off-green, 6%);
  }
}

.button-purple {
  background-color: $purple;

  &:hover {
    background-color: darken($purple, 6%);
  }
}

h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: $light;
  color: $dark-gray;
}
h2 {
  color: $purple;
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
}
.general-p {
  color: black;
  font-size: 16px;
  line-height: 22px;
}
.container {
  max-width: 940px;
}

.row.gutter-60 {
    margin-right: -30px;
    margin-left: -30px;
}

.gutter-60 > [class^="col-"],
.gutter-60 > [class^=" col-"] {
    padding-right: 30px;
    padding-left: 30px;
}

.row.gutter-20 {
    margin-right: -10px;
    margin-left: -10px;
}

.gutter-20 > [class^="col-"],
.gutter-20 > [class^=" col-"] {
    padding-right: 10px;
    padding-left: 10px;
}

.row.gutter-10 {
    margin-right: -5px;
    margin-left: -5px;
}

.gutter-10 > [class^="col-"],
.gutter-10 > [class^=" col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.row.gutter-0 {
    margin-right: 0;
    margin-left: 0;
}

.gutter-0 > [class^="col-"],
.gutter-0 > [class^=" col-"] {
    padding-right: 0;
    padding-left: 0;
}


//================================== Header section
.logo {
  display: block;
  width: 220px;
  margin: 0 auto;
  color: $dark-gray !important;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  &:hover {
    color: $dark-gray;
    text-decoration: none;
  }

  img {
    margin-bottom: 5px;
  }

  @include lg {
    display: inline-block;
    margin: 0;
  }
}
.header {
  position: relative;
  z-index: 1;
  height: 156px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  .row {
    align-items: center;
    height: 156px;
  }
  .right-wrap {
    display: none;
  }
  .button {
    margin-left: 20px;
    padding: 10px 30px;
  }
  @include lg {
    .right-wrap {
      display: block;
      text-align: right;
    }
  }
}

//================================== promo section
.promo-wrap {
  margin-bottom: 40px;
  .container-fluid {
    padding: 0;
    max-width: 940px;
  }
  img {
    width: 100%;
  }
  h1 {
    font-size: 35px;
    line-height: 41px;
    font-weight: $light;
    margin-bottom: 10px;
    color: white;
  }
  a {
    background-color: $off-green;
  }
  .promo {
    background-color: $purple;
    color: white;
    height: 100%;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  @include lg {
    margin-top: 30px;
    margin-bottom: 100px;
    flex-direction: row;
    width: 100% !important;
    text-align: left;
    a {
      margin-bottom: 20px;
    }
    .promo {
      height: auto;
      padding: 30px;
      text-align: left;
    }
    img {
      width: 100%;
    }
  }
}
//================================== giving section
.giving-slogan {
  display: block;
  width: 400px !important;
  max-width: calc(100% - 40px);
  margin: 60px auto 0;

  @include lg {
    margin-top: 100px;
  }
}
.header .giving-slogan {
  display: inline-block;
  width: 300px !important;
  margin: 0;
}
.giving-wrap {
  overflow: hidden;
  padding: 40px 0;
  background-color: $light-gray;
  margin-top: 30px;
  .col-lg-4 {
    margin-bottom: 30px;
  }
  .giving-block {
    height: 100%;
    background-color: white;
    padding: 50px 50px;

    ul {
      padding-left: 20px;
    }
  }
  .content {
    width: 280px;
    background-color: white;
    height: 100%
  }
  h2 {
    text-align: center;
  }
  ul li {
    font-size: 14px;
    line-height: 19px;
    padding-top: 25px;
  }

  @include lg {
    .col-lg-4 {
      margin-bottom: 0;
    }
    .giving-block {
      padding: 20px;
    }
  }
}

//================================== slider section
.slider-wrap {
  padding: 0px 30px;
}
.slider {
  .row {
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
  }
}
.slider-content-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.slick-slider {
  background-color: white;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
  img {
    width: 100%;
  }
  .a-left, .a-right {
    display: block;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    margin-top: calc(35% - 18px);
    z-index: 1;
    font-size: 36px;
  }
  .a-left {
    left: -18px;
    background: url('https://secure2.convio.net/hhfoun/images/content/pagebuilder/arrow-left.png') 0 0 no-repeat;
    background-size: 34px 34px;
  }
  .a-right {
    right: -18px;
    background: url('https://secure2.convio.net/hhfoun/images/content/pagebuilder/arrow-right.png') 0 0 no-repeat;
    background-size: 34px 34px;
  }
  .a-left:hover, .a-right:hover {
    cursor: pointer;
  }
  h2 {
    color: $purple;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    margin-top: 30px;
  }
  p {
    color: black;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
    text-align: center;
  }
  .slide p a {
    color: $off-green;
  }
  @include md {
    background-color: $light-gray;
    .slide {
      padding: 40px;
      h2 {
        margin-top: 0px;
        text-align: left;
      }
      p {
        text-align: left;
        margin-bottom: 30px;
      }
      img {
        width: 100%;
      }
    }
    .slider .row {
      padding-bottom: 20px;
    }
    .a-left,
    .a-right {
      margin-top: 0px;
      top: calc(50% - 18px);
    }
  }
}
//================================== Form Section
.form-wrap {
  .row {
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  h1 {
    color: $dark-gray;
    font-size: 35px;
    line-height: 41px;
    font-weight: lighter;
  }
  form {
    text-align: left;
  }
}

// Luminate Form Overrides
form {
  div.donation-level-container {
    margin-right: 10px;
  }

  div.donation-form-container.responsive {
    width: auto;
    max-width: 680px;
    margin: 40px auto;
    padding: 0;
    background: none;
    border: none;
  }

  div.donation-level-general-ask,
  div.html-caption-container {
    max-width: none;
  }

  .html-caption-container td {
    padding: 0 !important;
  }

  .section-header-container {
    margin: 20px 0;
    padding: 10px;
    background: $purple;
    border-top: none;
    color: white;
    text-align: left;
  }

  div.responsive,
  div.field-container,
  div.lo-EventButtonContainer,
  div.ButtonContainer {
    a.step-button,
    button.step-button,
    input.step-button,
    input[type="reset"],
    input[type="button"] {
      background-image: none;
      background-color: #ccc;
      color: white !important;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 19px;
      border: none;
      border-radius: 0;
      padding: 10px 40px;
      text-align: center;

      &:hover {
        color: white;
        text-decoration: none;
        background-image: none;
        background-color: darken($gray, 6%);
      }
    }

    a.next-step,
    button.next-step,
    button.action-button,
    input[type="submit"] {
      background-image: none;
      background-color: $off-green;
      color: white !important;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 19px;
      border: none;
      border-radius: 0;
      padding: 10px 40px;
      text-align: center;

      &:hover {
        color: white;
        text-decoration: none;
        background-image: none;
        background-color: darken($off-green, 6%);
      }
    }

    input[type="text"],
    input[type="number"],
    input[type="password"],
    textarea {
      max-width: 100%;
      padding: 5px 7px;
      border: 2px solid $gray;
      border-radius: 0;
      box-shadow: none;
      font-family: 'Avenir', 'Lato', sans-serif;
      font-size: 1rem;
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin: 4px 4px 0 0;
    }

    select {
      max-width: 100%;
    }
  }

  div.donation-level-container {
    border: none;
    float: left;
    margin: 0 1em 1em 0;
  }

  div.donation-level-container div.form-content {
    margin: 0;
  }

  div.donation-level-input-container,
  div.generic-repeat-label-checkbox-container {
    padding: 0;
  }

  div.donation-level-user-entered {
    position: relative;
    top: -5px;
    display: inline-block;
    margin: 0;
  }

  #payment_cc_container h3 {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .mobile div.responsive {
    width: auto;

    div.form-content {
      margin-top: 0;
    }

    label {
      width: 110px;
    }
  }
}

// Luminate Event Registration Overrrides

div.luminate-eventAppArea {
  display: block;
  max-width: 660px;
  margin: 0 auto;
}

div.lo-CalendarDateInfoContainer {
  width: 100%;
}

div.lo-EventBorderContainer,
div.lo-BorderContainer {
  padding: 0;
  border: none;
}

div.lo-EventSubHeaderBar,
div.lo-BorderHeaderBar {
  display: block;
  margin: 20px 0;
  padding: 10px;
  background: $purple;
  border-top: none;
  color: white;
  text-align: left;
}

div.responsive {
  max-width: 100%;
}

.survey-question-number {
  display: none;
}

.aural-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Luminate JavScript Form Embed Overrides

.BBFormSection {
    margin-left: auto !important;
    margin-right: auto !important;
}

.BBFormTable {
  max-width: 700px !important;
}

.BBFormFieldContainer {
    max-width: 700px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

//================================== Registration Details

.registration-details {
  display: block;
  max-width: 700px;
  margin: 0 auto 60px;

  .registration-level {
    background-color: #D8D8D8;
    transition: background-color 0.25s;

    &:hover {
      background-color: darken(#D8D8D8, 5%);
    }

    &.active {
      background-color: #F8F8F8;

      .registration-content {
        max-height: 500px;
      }

      .registration-heading i {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  .registration-heading {
    position: relative;
    margin: 0;
    padding: 10px 40px 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    span {
      display: inline-block;
      margin-right: 10px;
      text-align: center;
    }

    i {
      position: absolute;
      right: 20px;
      top: 50%;
      font-size: 2em;
      vertical-align: middle;
      transform: translateY(-50%) rotate(0deg);
      transition: transform 0.25s ease-out;
    }

    @include sm {
      span {
        width: 200px;
      }
    }
  }

  .registration-content {
    margin: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;

    p, ol, ul, li {
      font-size: 14px;
    }

    ul {
      padding-left: 20px;
    }
  }

  @include md {
    .registration-content {
      margin-left: 100px;
    }
  }
}

//================================== blog Section
.blog-wrap {
  overflow: hidden;
  .container {
    max-width: 1000px;
    margin-bottom: 100px;
  }
  .row {
    h2 {
      color: $purple;
      font-size: 20px;
      line-height: 27px;
      font-weight: bold;
    }
  }
}
.blog-content {
  background-color: $light-gray;
  padding: 20px;
}
.blog-info-wrap {
  margin-bottom: 40px;
  padding: 15px;
  text-align: center;
  img {
    width: 100%;
  }
}
@include lg {
  .blog-info-wrap {
    margin-bottom: 0px;
    h2 {
      height: 60px;
    }
  }
  .blog-content {
    padding: 20px 40px;
  }
}
//================================== footer
footer {
  margin-top: 40px;
  padding: 50px 0;
  text-align: center;
  font-size: 13px;
  background-color: $purple;
  color: white !important;

  h2 {
    font-size: 20px;
    color: white;
  }

  a {
    color: white !important;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }

  .logo {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white !important;

    &:hover {
      color: white;
      text-decoration: none;
    }

    img {
      margin-bottom: 10px;
    }
  }

  .social {
    a {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 0 8px;
      padding: 3px;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      background-color: white;
      border-radius: 50%;
      color: $purple !important;
    }
  }

  @include lg {
    margin-top: 100px;
  }
}


//================================== eventlp =========================================================================
//================================== promo section
.gray-para {
  color: $dark-gray;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  max-width: 785px;
  margin: auto;
  font-weight: $light;
  margin-top: 40px;
}
.promo-wrap {
  strong {
    padding-right: 5px;
  }
  p {
    font-weight: 300;
  }
}
.promo-bottom {
  margin-bottom: 100px;
  padding: 40px;
}
@include lg {
  .promo-bottom {
    padding: 0;
  }
}
//================================== proceeds
.proceed-wrap {
  margin-bottom: 40px;
  padding: 40px;
  background-color: $light-gray;
  text-align: center;
  img {
    width: 100%;
    margin-top: 20px;
  }
  .general-h2 {
    line-height: normal;
  }
  .promo {
    span {
      font-weight: bold;
      padding-right: 8px;
    }
    p {
      font-weight: lighter;
      a {
        color: $off-green;
      }
    }
  }
  @include lg {
    margin-bottom: 100px;
    text-align: left;
    img {
      width: auto;
      margin-top: 0;
    }
  }
}
//================================== campaignlp =========================================================================
//================================== landing section
.hero img {
  display: block;
  width: 100%;
}
//================================== help section
.help-wrap {
  position: relative;
  .container {
    h1:nth-child(2) {
      margin-top: 120px;
    }
  }
  .help-content {
    margin: -40px auto 0;
    background-color: white;
    text-align: center;
    padding: 40px;
    max-width: 560px;
    box-shadow: 0 3px 30px 3px rgba(0,0,0,0.15);
  }
  @include lg {
    margin-top: -162px;

    .help-content {
      padding: 40px 80px;
    }
  }
}
//================================== gifts section
.gifts-wrap {
  padding: 20px 0;
  background-color: $light-gray;
  .container {
    max-width: 840px;
  }
  .col-lg-6 {
    background-color: white;
    text-align: center;
    margin-bottom: 30px;
    background-color: $light-gray;
    img {
      width: 100%;
    }
    .general-h2 {
      font-weight: $bold;
    }
    .gift-content {
      background-color: white;
      padding: 50px 30px;
    }
  }
}
