<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css" />

    <link rel="stylesheet" href="https://secure2.convio.net/hhfoun/css/responsive/DonFormResponsive.css">
    <link rel="stylesheet" href="https://secure2.convio.net/hhfoun/css/responsive/ResponsiveBase.css">

    <link rel="stylesheet" href="css/style.css">

    <script src="https://use.fontawesome.com/9fd7479891.js"></script>
  </head>
  <body>
    <!--=================================  header section   ===============-->
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 left-wrap">
            <a href="https://www.honorhealth.com/community/honorhealth-foundation" target="_blank" class="logo">
              <img src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/logo.png" alt="HonorHealth">
              <span>Foundation</span>
            </a>
          </div>
          <div class="col-lg-6 right-wrap">
            {% block header %}{% endblock %}
          </div>
        </div>
      </div>
    </div>

    {% block content %}{% endblock %}

    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <a class="logo" href="https://www.honorhealth.com/community/honorhealth-foundation" target="_blank">
              <img class="logo" src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/logo-white.png" alt="Honor Health Foundation">
              <strong>Foundation</strong>
            </a>
            <p>&copy; 2014-2018 HonorHealth All rights reserved</p>
            <p>
              <a href="https://www.honorhealth.com/company/corporate-integrity/policies/website-privacy-policy" target="_blank">Policies</a>
              <a href="https://www.honorhealth.com/sitemap" target="_blank">Sitemap</a>
            </p>
          </div>

          <div class="col-lg-6">
            <h2>Follow Us</h2>
            <div class="social">
              <a href="https://www.facebook.com/HonorHealthFoundation/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="https://www.youtube.com/channel/UC1T1ffhBwNktYxRPxXmt4Vg" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/11.1.0/js/smooth-scroll.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
