<form name="process" id="ProcessForm" action="https://secure2.convio.net/hhfoun/admin/Donation2Preview" method="post">

<div class="donation-form-container responsive">


<div class="donation-form-content">






<input type="hidden" name="user_donation_amt" id="user_donation_amt" value="">
<input type="hidden" name="company_min_matching_amt" id="company_min_matching_amt" value="">
<input type="hidden" name="currency_locale" id="currency_locale" value="en_US">





<div class="form-row">
<div class="html-caption-container">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tbody><tr>
    <td style="padding:0 10px;">
<h2>Donate!</h2>
<p>Your contribution will help support our organization’s much-needed programs that fund important projects and programs. To make a tax-deductible donation right now, please fill out and submit the form below.</p>
<p><span style="color:red;">*</span> = Required fields
</p>

</td>
    <td align="right" valign="top"><script type="text/javascript" src="//smarticon.geotrust.com/si.js"></script><a tabindex="-1" href="https://smarticon.geotrust.com/smarticonprofile?Referer=https://secure2.convio.net" onclick="return gt__md();" target="GT__SIP"><img name="rzlfvdhx" height="55" width="115" border="0" src="//smarticon.geotrust.com/smarticon?ref=secure2.convio.net" alt="Click for company profile" oncontextmenu="return false;"></a></td>
  </tr>
</tbody></table>
<br>
</div>
</div>




<div class="don-standard-levels form-row">
<div class="levels-label">

</div>

<div id="level_standard_row" class="form-row form-donation-level">

<div class="form-content">
<span class="field-required"></span> <span class="aural-only">Field Is Required</span>

<span class="FormLabelText">Enter A Gift Amount:</span>


<div class="donation-level-general-ask">

</div>

<div class="donation-levels">

<div class="donation-level-container">
<div class="form-content">

<div class="donation-level-input-container form-input">

<div class="donation-level-label-input-container">
<input type="radio" name="level_standardexpanded" id="level_standardexpanded1866" value="1866" onclick="evalMatchingGift('$250.00');">
</div>

<label for="level_standardexpanded1866" onclick="">


<div class="donation-level-amount-container">
$250.00
</div>



</label>







</div>

<input type="hidden" name="level_standardexpandedsubmit" id="level_standard_1866expandedsubmit" value="true">
</div>
</div>
<div class="donation-level-container">
<div class="form-content">

<div class="donation-level-input-container form-input">

<div class="donation-level-label-input-container">
<input type="radio" name="level_standardexpanded" id="level_standardexpanded1862" value="1862" onclick="evalMatchingGift('$100.00');">
</div>

<label for="level_standardexpanded1862" onclick="">


<div class="donation-level-amount-container">
$100.00
</div>



</label>







</div>

<input type="hidden" name="level_standardexpandedsubmit" id="level_standard_1862expandedsubmit" value="true">
</div>
</div>
<div class="donation-level-container">
<div class="form-content">

<div class="donation-level-input-container form-input">

<div class="donation-level-label-input-container">
<input type="radio" name="level_standardexpanded" id="level_standardexpanded1863" value="1863" onclick="evalMatchingGift('$50.00');">
</div>

<label for="level_standardexpanded1863" onclick="">


<div class="donation-level-amount-container">
$50.00
</div>



</label>







</div>

<input type="hidden" name="level_standardexpandedsubmit" id="level_standard_1863expandedsubmit" value="true">
</div>
</div>
<div class="donation-level-container">
<div class="form-content">

<div class="donation-level-input-container form-input">

<div class="donation-level-label-input-container">
<input type="radio" name="level_standardexpanded" id="level_standardexpanded1864" value="1864" onclick="evalMatchingGift('$25.00');">
</div>

<label for="level_standardexpanded1864" onclick="">


<div class="donation-level-amount-container">
$25.00
</div>



</label>







</div>

<input type="hidden" name="level_standardexpandedsubmit" id="level_standard_1864expandedsubmit" value="true">
</div>
</div>
<div class="donation-level-container">
<div class="form-content">

<div class="donation-level-input-container form-input">

<div class="donation-level-label-input-container">
<input type="radio" name="level_standardexpanded" id="level_standardexpanded1865" value="1865" onclick="evalMatchingGift(document.getElementById('level_standardexpanded1865amount').value);">
</div>

<label for="level_standardexpanded1865" onclick="">



<div class="donation-level-label-container">
Enter Amount
</div>


</label>


<div class="donation-level-user-entered">
<label for="level_standardexpanded1865amount"><span class="aural-only">Enter amount</span></label>
<input type="text" name="level_standardexpanded1865amount" id="level_standardexpanded1865amount" value="" size="12" onfocus="var el = document.getElementById ('level_standardexpanded1865');if (el) el.click(); fire_obs_comp_event('level_standardexpanded1865amount', this, event);evalMatchingGift(value); " onchange="fire_obs_comp_event('level_standardexpanded1865amount', this, event);evalMatchingGift(value);" onkeyup="fire_obs_comp_event('level_standardexpanded1865amount', this, event);evalMatchingGift(value);">
</div>





</div>

<input type="hidden" name="level_standardexpandedsubmit" id="level_standard_1865expandedsubmit" value="true">
</div>
</div>
</div>
</div>
<script type="text/javascript">
Y.use("jquery-ui", function(Y) {
jQuery(function(){
// subscribe observables
jQuery('div.donation-level-element-container').find('input[type="radio"]').each(function() {
var syncAction = function(obj) {
if (obj.is(':checked')) {
obj.closest('div.donation-level-container').addClass('selected');
}
else {
obj.closest('div.donation-level-container').removeClass('selected');
};
return arguments.callee;
}(jQuery(this));
jQuery(this).click(function() {
jQuery('div.donation-level-container').removeClass('selected');
syncAction(jQuery(this));
});
});
});
});
</script><noscript>&amp;nbsp;</noscript>
</div>

<div class="levels-gift-aid">

</div>
<input type="hidden" name="level_standardsubmit" id="level_standardsubmit" value="true">
<script type="text/javascript">
function evalMatchingGift(gift) {

}
</script><noscript>&amp;nbsp;</noscript>
</div>
<div class="donation-level-container-generic-repeat form-input">

<div class="generic-repeat-label-checkbox-container">
<input type="checkbox" name="level_standardauto_repeatname" id="level_standardauto_repeatname" onclick="fire_obs_comp_event('level_standardauto_repeat', this);" onkeypress="fire_obs_comp_event('level_standardauto_repeat', this);">

<label for="level_standardauto_repeatname">
Yes, automatically repeat this gift every month.
</label>

</div>
<input type="hidden" name="level_standardauto_repeatsubmit" id="level_standardauto_repeatsubmit" value="true">
</div>



<h2 class="section-header-container">

Billing Information

</h2>




<div id="billing_first_name_row" class="form-row form-text">

<div class="form-content">
<span class="field-required"></span>
<label for="billing_first_namename">First Name:</label>

<input type="text" name="billing_first_namename" id="billing_first_namename" value="Paul" maxlength="50">

<input type="hidden" name="billing_first_namesubmit" id="billing_first_namesubmit" value="true">
<script type="text/javascript">
var comp = new ObservableComponent ('billing_first_name', 'name');
comp.hide = function(_hidden)
{
var _display = _hidden ? 'none' : '';
set_display ('billing_first_name_row', _display);
this.disable_submit_flag (_hidden);
}


</script><noscript>&amp;nbsp;</noscript>
</div>
</div>



<div id="billing_last_name_row" class="form-row form-text">

<div class="form-content">
<span class="field-required"></span>
<label for="billing_last_namename">Last Name:</label>

<input type="text" name="billing_last_namename" id="billing_last_namename" value="Peterson" maxlength="50">

<input type="hidden" name="billing_last_namesubmit" id="billing_last_namesubmit" value="true">
<script type="text/javascript">
var comp = new ObservableComponent ('billing_last_name', 'name');
comp.hide = function(_hidden)
{
var _display = _hidden ? 'none' : '';
set_display ('billing_last_name_row', _display);
this.disable_submit_flag (_hidden);
}


</script><noscript>&amp;nbsp;</noscript>
</div>
</div>



<div id="billing_addr_street1_row" class="form-row form-text">

<div class="form-content">
<span class="field-required"></span>
<label for="billing_addr_street1name">Street 1:</label>

<input type="text" name="billing_addr_street1name" id="billing_addr_street1name" value="" maxlength="50">

<input type="hidden" name="billing_addr_street1submit" id="billing_addr_street1submit" value="true">
<script type="text/javascript">
var comp = new ObservableComponent ('billing_addr_street1', 'name');
comp.hide = function(_hidden)
{
var _display = _hidden ? 'none' : '';
set_display ('billing_addr_street1_row', _display);
this.disable_submit_flag (_hidden);
}


</script><noscript>&amp;nbsp;</noscript>
</div>
</div>




<div id="billing_addr_street2_row" class="form-row form-text">

<div class="form-content">

<label for="billing_addr_street2name">Street 2:</label>

<input type="text" name="billing_addr_street2name" id="billing_addr_street2name" value="" maxlength="50">

<input type="hidden" name="billing_addr_street2submit" id="billing_addr_street2submit" value="true">
<script type="text/javascript">
var comp = new ObservableComponent ('billing_addr_street2', 'name');
comp.hide = function(_hidden)
{
var _display = _hidden ? 'none' : '';
set_display ('billing_addr_street2_row', _display);
this.disable_submit_flag (_hidden);
}


</script><noscript>&amp;nbsp;</noscript>
</div>
</div>




<div id="billing_addr_city_row" class="form-row form-text">

<div class="form-content">
<span class="field-required"></span>
<label for="billing_addr_cityname">City:</label>

<input type="text" name="billing_addr_cityname" id="billing_addr_cityname" value="" maxlength="50">

<input type="hidden" name="billing_addr_citysubmit" id="billing_addr_citysubmit" value="true">
<script type="text/javascript">
var comp = new ObservableComponent ('billing_addr_city', 'name');
comp.hide = function(_hidden)
{
var _display = _hidden ? 'none' : '';
set_display ('billing_addr_city_row', _display);
this.disable_submit_flag (_hidden);
}


</script><noscript>&amp;nbsp;</noscript>
</div>
</div>




<div id="billing_addr_state_row" class="form-row form-selectlist">

<div class="form-content">
<span class="field-required"></span>
<label class="FormLabel" for="billing_addr_state">State/Province:</label>
<select name="billing_addr_state" id="billing_addr_state" size="1" onchange="fire_obs_comp_event('billing_addr_state', this)">
<option></option>
<option value="AK">AK - Alaska</option>
<option value="AL">AL - Alabama</option>
<option value="AR">AR - Arkansas</option>
<option value="AZ">AZ - Arizona</option>
<option value="CA">CA - California</option>
<option value="CO">CO - Colorado</option>
<option value="CT">CT - Connecticut</option>
<option value="DC">DC - District of Columbia</option>
<option value="DE">DE - Delaware</option>
<option value="FL">FL - Florida</option>
<option value="GA">GA - Georgia</option>
<option value="HI">HI - Hawaii</option>
<option value="IA">IA - Iowa</option>
<option value="ID">ID - Idaho</option>
<option value="IL">IL - Illinois</option>
<option value="IN">IN - Indiana</option>
<option value="KS">KS - Kansas</option>
<option value="KY">KY - Kentucky</option>
<option value="LA">LA - Louisiana</option>
<option value="MA">MA - Massachusetts</option>
<option value="MD">MD - Maryland</option>
<option value="ME">ME - Maine</option>
<option value="MI">MI - Michigan</option>
<option value="MN">MN - Minnesota</option>
<option value="MO">MO - Missouri</option>
<option value="MS">MS - Mississippi</option>
<option value="MT">MT - Montana</option>
<option value="NC">NC - North Carolina</option>
<option value="ND">ND - North Dakota</option>
<option value="NE">NE - Nebraska</option>
<option value="NH">NH - New Hampshire</option>
<option value="NJ">NJ - New Jersey</option>
<option value="NM">NM - New Mexico</option>
<option value="NV">NV - Nevada</option>
<option value="NY">NY - New York</option>
<option value="OH">OH - Ohio</option>
<option value="OK">OK - Oklahoma</option>
<option value="OR">OR - Oregon</option>
<option value="PA">PA - Pennsylvania</option>
<option value="RI">RI - Rhode Island</option>
<option value="SC">SC - South Carolina</option>
<option value="SD">SD - South Dakota</option>
<option value="TN">TN - Tennessee</option>
<option value="TX">TX - Texas</option>
<option value="UT">UT - Utah</option>
<option value="VA">VA - Virginia</option>
<option value="VT">VT - Vermont</option>
<option value="WA">WA - Washington</option>
<option value="WI">WI - Wisconsin</option>
<option value="WV">WV - West Virginia</option>
<option value="WY">WY - Wyoming</option>
<option value="AS">AS - American Samoa</option>
<option value="FM">FM - Federated States of Micronesia</option>
<option value="GU">GU - Guam</option>
<option value="MH">MH - Marshall Islands</option>
<option value="MP">MP - Northern Mariana Islands</option>
<option value="PR">PR - Puerto Rico</option>
<option value="PW">PW - Palau</option>
<option value="VI">VI - Virgin Islands</option>
<option value="AA">AA - Armed Forces Americas</option>
<option value="AE">AE - Armed Forces</option>
<option value="AP">AP - Armed Forces Pacific</option>
<option value="AB">AB - Alberta</option>
<option value="BC">BC - British Columbia</option>
<option value="MB">MB - Manitoba</option>
<option value="NB">NB - New Brunswick</option>
<option value="NL">NL - Newfoundland and Labrador</option>
<option value="NS">NS - Nova Scotia</option>
<option value="NT">NT - Northwest Territories</option>
<option value="NU">NU - Nunavut</option>
<option value="ON">ON - Ontario</option>
<option value="PE">PE - Prince Edward Island</option>
<option value="QC">QC - Quebec</option>
<option value="SK">SK - Saskatchewan</option>
<option value="YT">YT - Yukon</option>
<option value="None">None</option>

</select>
<script type="text/javascript">
<!--
var comp = new ObservableComponent('billing_addr_state', '');
comp.hide = function(_hidden)
{
var _display = _hidden ? 'none' : '';
set_display ('billing_addr_state_Row', _display);
this.disable_submit_flag (_hidden);
}
//-->
</script>
<noscript>&lt;br/&gt;Required</noscript>

<input type="hidden" name="billing_addr_statesubmit" id="billing_addr_statesubmit" value="true">
<script type="text/javascript">
var comp = new ObservableComponent ('billing_addr_state', '');
comp.hide = function(_hidden)
{
var _display = _hidden ? 'none' : '';
set_display ('billing_addr_state_row', _display);
this.disable_submit_flag (_hidden);
}


function billing_addr_state_listChanged(_evt)
{
var e = _evt ? _evt : event; // IE vs. Mozilla event model
if (e) {
var src = e.target ? e.target : e.srcElement; // IE vs. Mozilla event model
fire_obs_comp_event('billing_addr_state', src);
}
}
var el = document.getElementById('billing_addr_state');
if (el) {
Utils.addEvent (el, 'change', billing_addr_state_listChanged);
}
</script><noscript>&amp;nbsp;</noscript>
</div>
</div>





<div id="billing_addr_zip_row" class="form-row form-text">

<div class="form-content">
<span class="field-required"></span>
<label for="billing_addr_zipname">ZIP/Postal Code:</label>

<input type="text" name="billing_addr_zipname" id="billing_addr_zipname" value="" maxlength="50">

<input type="hidden" name="billing_addr_zipsubmit" id="billing_addr_zipsubmit" value="true">
<script type="text/javascript">
var comp = new ObservableComponent ('billing_addr_zip', 'name');
comp.hide = function(_hidden)
{
var _display = _hidden ? 'none' : '';
set_display ('billing_addr_zip_row', _display);
this.disable_submit_flag (_hidden);
}


</script><noscript>&amp;nbsp;</noscript>
</div>
</div>




<div id="donor_email_address_row" class="form-row form-text">

<div class="form-content">
<span class="field-required"></span>
<label for="donor_email_addressname">Email Address:</label>

<input type="text" name="donor_email_addressname" id="donor_email_addressname" value="paul.peterson@casualastronaut.com" maxlength="50">

<input type="hidden" name="donor_email_addresssubmit" id="donor_email_addresssubmit" value="true">
<script type="text/javascript">
var comp = new ObservableComponent ('donor_email_address', 'name');
comp.hide = function(_hidden)
{
var _display = _hidden ? 'none' : '';
set_display ('donor_email_address_row', _display);
this.disable_submit_flag (_hidden);
}


</script><noscript>&amp;nbsp;</noscript>
</div>
</div>




<div class="form-row form-checkbox" id="donor_email_opt_in_Row">

<div class="form-content">

<span class="check-box-form-label-text"></span>

<input type="checkbox" name="donor_email_opt_inname" id="donor_email_opt_inname" checked="checked" onclick="fire_obs_comp_event('donor_email_opt_in', this);">

<label for="donor_email_opt_inname">
Yes, I'd like to receive email updates from this organization.
</label>


<script type="text/javascript">
var comp = new ObservableComponent ('donor_email_opt_in', 'name');
comp.hide = function(_hidden)
{
var _display = _hidden ? 'none' : '';
set_display ('donor_email_opt_in_Row', _display);
this.disable_submit_flag (_hidden);
}
comp.set = function (_value)
{
if (document.getElementById('donor_email_opt_inname')) {
document.getElementById('donor_email_opt_inname').checked = _value;
this.fireEvent();
}
}
comp.get = function()
{
if (document.getElementById('donor_email_opt_inname'))
return document.getElementById('donor_email_opt_inname').checked;
}
comp.clear = function()
{
this.set(false);
}


</script><noscript>&amp;nbsp;</noscript>
<input type="hidden" name="donor_email_opt_insubmit" id="donor_email_opt_insubmit" value="true">
</div>
</div>





<h2 class="section-header-container">

Payment Information

</h2>




<div class="payment-type-element-container">


<div id="payment_cc_container" class="payment-field-container">
<h3>Credit Card Information:</h3>
<div id="payment_typecc_type_row" class="form-row form-radio-array">

<div class="form-content">
<fieldset>
<legend>Credit Card Type:</legend>
<ul class="radio-array-list">
<li class="tender-row ">
<img src="../images/visa_small.gif" alt="Visa" name="payment_typecc_type_Visa" id="payment_typecc_type_Visa">
</li><li class="tender-row ">
<img src="../images/discovercard_sm.gif" alt="Discover" name="payment_typecc_type_Discover" id="payment_typecc_type_Discover">
</li><li class="tender-row ">
<img src="../images/amex_small.gif" alt="American Express" name="payment_typecc_type_American_Express" id="payment_typecc_type_American_Express">
</li><li class="tender-row ">
<img src="../images/mastercd_small.gif" alt="MasterCard" name="payment_typecc_type_MasterCard" id="payment_typecc_type_MasterCard">
</li>
</ul>
</fieldset>
<input type="hidden" name="payment_typecc_typesubmit" id="payment_typecc_typesubmit" value="true">
<script type="text/javascript">
var comp = new ObservableRadioComponent ('payment_typecc_type', 'name');
comp.hide = function(_hidden)
{
var _display = _hidden ? 'none' : '';
set_display ('payment_typecc_type_row', _display);
this.disable_submit_flag (_hidden);
}
</script><noscript>&amp;nbsp;</noscript>
</div>
</div>
<div id="payment_typecc_number_row" class="form-row form-text">

<div class="form-content">
<span class="field-required"></span>
<label for="payment_typecc_numbername">Credit Card Number:</label>

<input type="text" name="payment_typecc_numbername" id="payment_typecc_numbername" value="" maxlength="22" autocomplete="off">

<input type="hidden" name="payment_typecc_numbersubmit" id="payment_typecc_numbersubmit" value="true">
<script type="text/javascript">
var comp = new ObservableComponent ('payment_typecc_number', 'name');
comp.hide = function(_hidden)
{
var _display = _hidden ? 'none' : '';
set_display ('payment_typecc_number_row', _display);
this.disable_submit_flag (_hidden);
}


observe_component ('null', new ComponentDisplayer ('payment_typecc_number'));

</script><noscript>&amp;nbsp;</noscript>
</div>
</div>
<div id="payment_typecc_exp_date_row" class="form-row form-date">

<div class="form-content">
<span class="field-required"></span>
<label for="payment_typecc_exp_date_MONTH">
<span class="label-text">Expiration Date:</span><span class="aural-only">Select month of credit card</span>
</label>
<label for="payment_typecc_exp_date_YEAR"><span class="aural-only">Select Expiration Year</span></label>
<div class="date-input-container">

<fieldset class="cardExpGroup">
<select name="payment_typecc_exp_date_MONTH" id="payment_typecc_exp_date_MONTH" onchange="fire_obs_comp_event('payment_typecc_exp_date_MONTH', this)">
<option value="1">01</option>
<option value="2">02</option>
<option value="3">03</option>
<option value="4">04</option>
<option value="5">05</option>
<option value="6" selected="selected">06</option>
<option value="7">07</option>
<option value="8">08</option>
<option value="9">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
</select>
<select name="payment_typecc_exp_date_YEAR" id="payment_typecc_exp_date_YEAR" onchange="fire_obs_comp_event('payment_typecc_exp_date_YEAR', this)">
<option value="2017" selected="selected">2017</option>
<option value="2018">2018</option>
<option value="2019">2019</option>
<option value="2020">2020</option>
<option value="2021">2021</option>
<option value="2022">2022</option>
<option value="2023">2023</option>
<option value="2024">2024</option>
<option value="2025">2025</option>
<option value="2026">2026</option>
<option value="2027">2027</option>

</select>
</fieldset>
<input type="hidden" name="payment_typecc_exp_date_DAY" id="payment_typecc_exp_date_DAY" value="1">
<script type="text/javascript">
<!--
var comp1 = new ObservableComponent ('payment_typecc_exp_date_MONTH', '');
comp1.hide = function(_hidden) {
var _display = _hidden ? 'none' : '';
set_display ('payment_typecc_exp_date_Row', _display);
this.disable_submit_flag (_hidden);
}
var comp2 = new ObservableComponent ('payment_typecc_exp_date_YEAR', '');
comp2.hide = function(_hidden) {
var _display = _hidden ? 'none' : '';
set_display ('payment_typecc_exp_date_Row', _display);
this.disable_submit_flag (_hidden);
}
//-->
</script><noscript>&amp;nbsp;</noscript>
</div>
<input type="hidden" name="payment_typecc_exp_datesubmit" id="payment_typecc_exp_datesubmit" value="true">
<script type="text/javascript">
var comp = new ObservableComponent ('payment_typecc_exp_date', 'input');
comp.hide = function(_hidden)
{
var _display = _hidden ? 'none' : '';
set_display ('payment_typecc_exp_date_row', _display);
disable_submit_flag ('payment_typecc_exp_datesubmit', _hidden);
}
comp.disable = function(_disabled)
{
disable_element ('payment_typecc_exp_date_MONTH', _disabled);
disable_element ('payment_typecc_exp_date_DAY', _disabled);
disable_element ('payment_typecc_exp_date_YEAR', _disabled);
disable_element ('payment_typecc_exp_date_HOUR12',_disabled);
disable_element ('payment_typecc_exp_date_HOUR24',_disabled); //For UK, 24 hour clock used
disable_element ('payment_typecc_exp_date_MINUTE',_disabled);
disable_element ('payment_typecc_exp_date_AMPM', _disabled);
}

</script><noscript>&amp;nbsp;</noscript>
</div>
</div>

<div id="payment_typecc_cvv_row" class="form-row form-text cvv-input">

<div class="form-content">
<span class="field-required"></span>
<label for="payment_typecc_cvvname">
<span class="FormLabelText">CVV Number:</span>
</label>
<a href="http://help.convio.net/site/PageServer?s_site=hhfoun&amp;pagename=user_donation_cvv&amp;s_locale=en_US" class="HelpLink" title="What is this? Opens new window.">What is this?</a>
<input type="text" name="payment_typecc_cvvname" id="payment_typecc_cvvname" value="" maxlength="4" autocomplete="off">
<input type="hidden" name="payment_typecc_cvvsubmit" id="payment_typecc_cvvsubmit" value="true">
<script type="text/javascript">
var comp = new ObservableComponent ('payment_typecc_cvv', 'name');
comp.hide = function(_hidden)
{
var _display = _hidden ? 'none' : '';
set_display ('payment_typecc_cvv_row', _display);
this.disable_submit_flag (_hidden);
}

</script><noscript>&amp;nbsp;</noscript>
</div>
</div>

</div>



<input type="hidden" name="payment_typesubmit" id="payment_typesubmit" value="true">
<script type="text/javascript">
function PaymentObserver()
{
this.observe = function(_event)
{
var sVal = _event.component.get();
switch (sVal)
{
case 'check':
hide_element('payment_cc_container');
hide_element('payment_bank_container');
show_element('payment_check_container');
break;
case 'credit':
hide_element('payment_bank_container');
hide_element('payment_check_container');
show_element('payment_cc_container');
break;
case 'ach':
hide_element('payment_cc_container');
hide_element('payment_check_container');
show_element('payment_bank_container');
break;
case 'paypal':
case 'amazon':
default:
// hide all
hide_element('payment_bank_container');
hide_element('payment_cc_container');
hide_element('payment_check_container');
break;
}
}
}
// Set the observer to show/hide the relevant fields
observe_component ('payment_typepay_typeradio', new PaymentObserver());
</script><noscript>&amp;nbsp;</noscript>
</div>




<div class="button-container clearfix">
<div class="button-sub-container">

<button class="step-button action-button finish-step" type="submit" id="pstep_finish" name="pstep_finish" value="Process">Process</button>




<button class="step-button cancel-step" type="submit" id="pstep_cancel" name="pstep_cancel" value="Cancel" title="Cancel">Cancel</button>

</div>
</div>
<input type="hidden" name="idb" id="idb" value="2037997757">
<input type="hidden" name="df_id" id="df_id" value="1400">
<input type="hidden" name="mfc_pref" id="mfc_pref" value="T">
<input type="hidden" name="df_preview" id="df_preview" value="pg">
<input type="hidden" name="mfc_popup" id="mfc_popup" value="true">



<div class="form-row">
<div class="html-caption-container">
<style>
div.donation-level-container {float: left; margin-right: 20px;}
label+div.donation-level-user-entered {margin-left: 4px; display: inline-block; margin-top: 0px;}
input[type="radio"] {margin: 5px 0 0 0;}
div.donation-level-input-container, div.generic-repeat-label-checkbox-container {padding: 0 0 10px;}
div.responsive div.form-content {margin-bottom: 0; margin-right: 0; margin-top: 0;}

#billing_first_name_row, #billing_middle_name_row,#billing_last_name_row {float:left;margin-right:10px;}

#billing_addr_street1_row {clear:both;}

div.donation-level-input-container, div.generic-repeat-label-checkbox-container {padding: 0;}

div.donation-level-user-entered {display: block; float: right; margin-left: 5px;}

    div.donation-level-amount-container {margin-top: 5px;}

    div.donation-level-label-container {margin-top: 3px;}

    div.button-container { border-top: 0 none; margin-top: 0; padding-top: 0;}

    #pstep_cancel {display:none;}

    div.button-container { display:inline-block;}

div.form-row {margin-top: 15px;}

</style>

</div>
</div>



</div>

<input type="hidden" name="1400.donation" id="1400.donation" value="form1">

</div>
<script type="text/javascript">
function deny_submit()
{
alert ('Form submission is not enabled when previewing an individual data element.');
return false;
}
</script><noscript>&amp;nbsp;</noscript>

</form>
