{% extends "_base.html" %}
{% set page = { title: 'Help Feed the Hungry - HonorHealth Foundation' } %}

{% block header %}
<img class="giving-slogan" src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/slogan.png" alt="Making Giving Personal">
{% endblock %}

{% block content %}
<!--=================================  landing section   ===============-->
<div class="hero">
  <img src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/campaign-hero.jpg" alt="">
</div>
<!--=================================  help section   ===============-->
<div class="help-wrap">
  <div class="container">
    <div class= "help-content">
      <h1 class="line-after general-h1">Help Feed the Hungry</h1>
      <p>People in your community need your help. Make a gift today to help ensure Arizona children and families get nutritious meals. And know that every dollar of your gift goes directly to those in need — not administrative costs.</p>
      <a class="button button-green" data-scroll href="#donate">Donate</a>
    </div>
    <h1 class="line-after general-h1">How Your Gift Changes Lives</h1>
  </div>
</div>
<!--=================================  gifts section   ===============-->
<div class="gifts-wrap">
  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        <img src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/gifts1.jpg" alt="Woman holding baby">
        <div class="gift-content" data-mh>
          <h2 class="general-h2">Feed Families in Need</h2>
          <p>Help provide food for individuals and families in crisis.</p>
        </div>
      </div>

      <div class="col-lg-6">
        <img src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/gifts2.jpg" alt="Newborn baby">
        <div class="gift-content" data-mh>
          <h2 class="general-h2">Nurture Newborns</h2>
          <p>Ensure babies receive the healthy food they need to grow.</p>
        </div>
      </div>

      <div class="col-lg-6">
        <img src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/gifts3.jpg" alt="Children">
        <div class="gift-content" data-mh>
          <h2 class="general-h2">Protect Kids from Going Hungry</h2>
          <p>Supply children in free and reduced school lunch programs with the nutritious food they need to avoid going hungry over the weekend.</p>
        </div>
      </div>

      <div class="col-lg-6">
        <img src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/gifts4.jpg" alt="Senior citizen">
        <div class="gift-content" data-mh>
          <h2 class="general-h2">Support At-Risk Seniors</h2>
          <p>Make it possible for seniors in your community to have access to healthy meals.</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="donate" class="container">
  <h1 style="margin-top: 120px;" class="line-after general-h1">Your Gift. Your Choice.</h1>
  {% include "_form.html" %}
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    smoothScroll.init();
    $('.slider').slick({
      prevArrow:"<a class='a-left slick-prev'></a>",
      nextArrow:"<a class='a-right slick-next'></a>"
    });
  });
</script>
{% endblock %}
