{% extends "_base.html" %}
{% set page = { title: 'HonorHealth Foundation' } %}

{% block header %}
<a class="button button-green" href="https://give.honorhealth.com/" target="_blank">Donate</a>
{% endblock %}

{% block content %}
<div class="container mt-5">
  [[S63:3]]
</div>
{% endblock %}
