{% extends "_base.html" %}
{% set page = { title: 'Lincoln Invitational Golf Tournament - HonorHealth Foundation' } %}

{% block header %}
<a class="button button-green" href="https://give.honorhealth.com/" target="_blank">Donate</a>
<a class="button button-purple" href="https://www.honorhealth.com/community/honorhealth-foundation/events" target="_blank">See All Events</a>
{% endblock %}

{% block content %}
<!--=================================  Promo section   ===============-->
<div class="promo-wrap">
  <div class="container-fluid">
    <div class="row gutter-0 align-items-stretch align-items-lg-center">
      <div class="col-md-4 push-md-8">
        <div class="promo">
            <h1>Lincoln Invitational Golf Tournament</h1>
            <p>
              <strong>Date:</strong> September 22,&nbsp;2017<br>
              <strong>Location:</strong> Camelback Golf Club<br>
              <strong>Registration and Breakfast:</strong> 6:30&nbsp;a.m.<br>
              <strong>Shotgun Start:</strong> 7:30&nbsp;a.m.<br>
              <strong>Lunch and Awards:</strong> No on<br>
            </p>
            <a class="button button-green" data-scroll href="#register">Register</a>
        </div>
      </div>
      <div class="col-md-8 pull-md-4">
        <img src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/camelback-golf-club.jpg" alt="A house and mountains in background">
      </div>
    </div>
  </div>
  <div class="container">
    <img class="giving-slogan" src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/slogan.png" alt="Making Giving Personal">
    <p class="gray-para">Change lives through the power of philanthropy by participating in our 31st annual Lincoln Invitational Golf Tournament. This year’s event not only includes a round of golf at Camelback Golf Club, but also fabulous prizes and an awards luncheon to celebrate your commitment to helping others. Become a sponsor or register as a golfer — either way, your gift will go toward programs that support our most vulnerable neighbors. </p>
  </div>
</div>
<!--=================================  proceeds section   ===============-->
<div class="proceed-wrap">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-4">
        <h2 class="general-h2">Proceeds Benefit HonorHealth Desert Mission's Community Programs</h2>
        <p class="general-para">Help provide food for hungry children and families in Arizona. Give young kids a strong start with quality early childhood education. Ensure at-risk seniors have a safe and stimulating daycare solution. This year’s tournament will benefit Desert Mission’s community programs, including the <a href="http://www.desertmission.com/programs/food-bank/" target="_blank">Food Bank</a>, <a href="http://www.desertmission.com/programs/adult-day-health-care/" target="_blank">Adult Day Health Care</a>, <a href="http://www.desertmission.com/programs/lincoln-learning-center/" target="_blank">Lincoln Learning Center</a> and <a href="http://www.desertmission.com/programs/neighborhood-renewal/" target="_blank">Neighborhood Renewal.</a></p>
      </div>

      <div class="col-lg-7 offset-lg-1">
        <img src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/community-programs.jpg" alt="People at a grocery store">
      </div>
    </div>
  </div>
</div>
<!--=================  registration details section   ===============-->
<h1 class="line-after">Choose Your Registration</h1>

<div class="registration-details">
  <div class="registration-level">
    <h2 class="registration-heading">
      <span class="cost">$15,000</span> Double Eagle Presenting Sponsor (12 participants)
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </h2>
    <div class="registration-content">
      <ul>
        <li>Three foursomes.</li>
        <li>Company logo prominently displayed on all tee and cart signs.</li>
        <li>Signage at event registration area.</li>
        <li>Full-page, four-color ad in event program. </li>
        <li>Logo recognition on video screens during event.</li>
        <li>Recognition in foundation publications.</li>
        <li>Presenting sponsor recognition in event press releases.</li>
        <li>Website and social media recognition.</li>
        <li>Opportunity to add a branded item to gift bags.</li>
      </ul>
    </div>
  </div>
  <div class="registration-level">
    <h2 class="registration-heading">
      <span class="cost">$12,500</span> Eagle Sponsor (8 participants)
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </h2>
    <div class="registration-content">
      <ul>
        <li>Three foursomes.</li>
        <li>Company logo prominently displayed on all tee and cart signs.</li>
        <li>Signage at event registration area.</li>
        <li>Full-page, four-color ad in event program. </li>
        <li>Logo recognition on video screens during event.</li>
        <li>Recognition in foundation publications.</li>
        <li>Presenting sponsor recognition in event press releases.</li>
        <li>Website and social media recognition.</li>
        <li>Opportunity to add a branded item to gift bags.</li>
      </ul>
    </div>
  </div>
  <div class="registration-level">
    <h2 class="registration-heading">
      <span class="cost">$8,000</span> Tee Gift Sponsor (6 participants)
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </h2>
    <div class="registration-content">
      <ul>
        <li>Three foursomes.</li>
        <li>Company logo prominently displayed on all tee and cart signs.</li>
        <li>Signage at event registration area.</li>
        <li>Full-page, four-color ad in event program. </li>
        <li>Logo recognition on video screens during event.</li>
        <li>Recognition in foundation publications.</li>
        <li>Presenting sponsor recognition in event press releases.</li>
        <li>Website and social media recognition.</li>
        <li>Opportunity to add a branded item to gift bags.</li>
      </ul>
    </div>
  </div>
  <div class="registration-level">
    <h2 class="registration-heading">
      <span class="cost">$6,000</span> Birdie Sponsor (4 participants)
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </h2>
    <div class="registration-content">
      <ul>
        <li>Three foursomes.</li>
        <li>Company logo prominently displayed on all tee and cart signs.</li>
        <li>Signage at event registration area.</li>
        <li>Full-page, four-color ad in event program. </li>
        <li>Logo recognition on video screens during event.</li>
        <li>Recognition in foundation publications.</li>
        <li>Presenting sponsor recognition in event press releases.</li>
        <li>Website and social media recognition.</li>
        <li>Opportunity to add a branded item to gift bags.</li>
      </ul>
    </div>
  </div>
  <div class="registration-level">
    <h2 class="registration-heading">
      <span class="cost">$4,500</span> Beverage Cart Sponsor (1 participants)
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </h2>
    <div class="registration-content">
      <ul>
        <li>Three foursomes.</li>
        <li>Company logo prominently displayed on all tee and cart signs.</li>
        <li>Signage at event registration area.</li>
        <li>Full-page, four-color ad in event program. </li>
        <li>Logo recognition on video screens during event.</li>
        <li>Recognition in foundation publications.</li>
        <li>Presenting sponsor recognition in event press releases.</li>
        <li>Website and social media recognition.</li>
        <li>Opportunity to add a branded item to gift bags.</li>
      </ul>
    </div>
  </div>
  <div class="registration-level">
    <h2 class="registration-heading">
      <span class="cost">$4,000</span> Tee Sponsor (2 participants)
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </h2>
    <div class="registration-content">
      <ul>
        <li>Three foursomes.</li>
        <li>Company logo prominently displayed on all tee and cart signs.</li>
        <li>Signage at event registration area.</li>
        <li>Full-page, four-color ad in event program. </li>
        <li>Logo recognition on video screens during event.</li>
        <li>Recognition in foundation publications.</li>
        <li>Presenting sponsor recognition in event press releases.</li>
        <li>Website and social media recognition.</li>
        <li>Opportunity to add a branded item to gift bags.</li>
      </ul>
    </div>
  </div>
  <div class="registration-level">
    <h2 class="registration-heading">
      <span class="cost">$1,600</span> Foursome (4 participants)
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </h2>
    <div class="registration-content">
      <ul>
        <li>Three foursomes.</li>
        <li>Company logo prominently displayed on all tee and cart signs.</li>
        <li>Signage at event registration area.</li>
        <li>Full-page, four-color ad in event program. </li>
        <li>Logo recognition on video screens during event.</li>
        <li>Recognition in foundation publications.</li>
        <li>Presenting sponsor recognition in event press releases.</li>
        <li>Website and social media recognition.</li>
        <li>Opportunity to add a branded item to gift bags.</li>
      </ul>
    </div>
  </div>
  <div class="registration-level">
    <h2 class="registration-heading">
      <span class="cost">$400</span> Individual Sponsor (1 participants)
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </h2>
    <div class="registration-content">
      <ul>
        <li>Three foursomes.</li>
        <li>Company logo prominently displayed on all tee and cart signs.</li>
        <li>Signage at event registration area.</li>
        <li>Full-page, four-color ad in event program. </li>
        <li>Logo recognition on video screens during event.</li>
        <li>Recognition in foundation publications.</li>
        <li>Presenting sponsor recognition in event press releases.</li>
        <li>Website and social media recognition.</li>
        <li>Opportunity to add a branded item to gift bags.</li>
      </ul>
    </div>
  </div>
</div>
<!--=================================  form section   ===============-->
<div id="register" class="container">
  <h1 class="line-after">Registration</h1>
  <div id="bbox-root"></div>
  <script type="text/javascript">
       window.bboxInit = function () {
           bbox.showForm('bc48420f-7301-434f-b6ba-998dda28eb0e');
       };
       (function () {
           var e = document.createElement('script'); e.async = true;
           e.src = 'https://bbox.blackbaudhosting.com/webforms/bbox-min.js';
           document.getElementsByTagName('head')[0].appendChild(e);
       } ());
  </script>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
    $('.slider').slick({
      prevArrow:"<a class='a-left slick-prev'></a>",
      nextArrow:"<a class='a-right slick-next'></a>"
    });

    $('.registration-heading').click(function () {
      var level = $(this).closest('.registration-level');
      if (level.hasClass('active')) {
        level.removeClass('active');
      } else {
        $('.registration-level').removeClass('active');
        level.addClass('active');
      }
    });
  });
</script>
{% endblock %}
