{% extends "_base.html" %}
{% set page = { title: 'Charity Golf Classic - HonorHealth Foundation' } %}

{% set levels = [
  {
      cost: '$25,000',
      title: 'Merit Sponsor',
      features: [
          'Up to 12 entries in the Friday tournament',
          'Corporate logo included on banners, in all tournament collateral materials',
          'Website and social media recognition',
          '<strong>Multiple available</strong>',
          '<strong>Exclusive benefits</strong>'
      ]
  },
  {
      cost: '$20,000',
      title: 'Tee-off Reception',
      features: [
          'Up to 12 entries (determined by level) in the Friday tournament',
          'Additional invitations for 10 at the Thursday night Tee-off Reception',
          'Corporate banner at the Thursday night gala reception',
          'Website and social media recognition',
          '<strong>Multiple available</strong>'
      ]
  },
  {
      cost: '$20,000-$10,000',
      title: 'Food Stations',
      features: [
          'Eight entries in the Friday tournament',
          'Corporate signage at all food stations on both courses',
          'Website and social media recognition',
          '$20,000 Exclusive or <strong>multiple available</strong> at $10,000'
      ]
  },
  {
      cost: '$10,000',
      title: 'Tee Gifts Sponsor',
      features: [
          'Eight entries in the Friday tournament Corporate banner/signage at tee gift distribution table',
          'Opportunity to provide logo items in tee gift package',
          'Website and social media recognition'
      ]
  },
  {
      cost: '$10,000',
      title: 'Hospitality Sponsor',
      features: [
          'Eight entries in the Friday tournament',
          'Corporate banners in registration room',
          'Opportunity to provide company display table registration room',
          'Website and social media recognition'
      ]
  },
  {
      cost: '$8,000',
      title: 'Golf Carts Sponsor',
      features: [
          'Four entries in the Friday tournament',
          'Corporate name on all participant golf carts'
      ]
  },
  {
      cost: '$8,000',
      title: 'Cap Sponsor',
      features: [
          'Four entries in the Friday tournament',
          'Corporate Logo on caps given to each participant'
      ]
  },
  {
      cost: '$8,000',
      title: 'Beverage Carts',
      features: [
          'Four entries in the Friday tournament',
          'Corporate Logo on caps given to each participant'
      ]
  },
  {
      cost: '$8,000',
      title: 'Awards Reception',
      features: [
          'Four entries in the Friday tournament',
          'Corporate banner hung above awards presentation area'
      ]
  },
  {
      cost: '$6,500',
      title: 'Bag Drop',
      features: [
          'Four entries in the Friday tournament',
          'Corporate banner displayed at bag drop area'
      ]
  },
  {
      cost: '$6,500',
      title: 'Committee Shirts',
      features: [
          'Four entries in the Friday tournament',
          'Corporate Logo on all committee/volunteer shirts'
      ]
  },
  {
      cost: '$4,750 each',
      title: 'Chipping Green, Driving Range, Putting Green',
      features: [
          'Two entries in the Friday tournament',
          'Signage at respective location'
      ]
  },
  {
      cost: '$4,250',
      title: 'Platinum Sponsor',
      features: [
          'Two entries in the Friday tournament',
          'Signage on designated hole on both courses'
      ]
  },
  {
      cost: '$3,250',
      title: 'Gold Sponsor',
      features: [
          'One entry in the Friday tournament',
          'Signage on tee or green of designated hole'
      ]
  },
  {
      cost: '$1,750',
      title: 'Silver Sponsor',
      features: [
          'Recognition on Sponsor Sign',
          'Invitation for two to the Thursday Tee-off Reception/Auction'
      ]
  },
  {
      cost: '$850',
      title: 'Bronze Sponsor',
      features: [
          'Recognition on Sponsor Sign'
      ]
  }
] %}

{% block header %}
<a class="button button-green" href="https://give.honorhealth.com/" target="_blank">Donate</a>
<a class="button button-purple" href="https://www.honorhealth.com/community/honorhealth-foundation/events" target="_blank">See All Events</a>
{% endblock %}

{% block content %}
<!--=================================  Promo section   ===============-->
<div class="promo-wrap">
  <div class="container-fluid">
    <div class="row gutter-0 align-items-stretch align-items-lg-center">
      <div class="col-md-4 push-md-8">
        <div class="promo">
            <h1>Charity Golf&nbsp;Classic</h1>
            <p>
              <strong>Date:</strong> April 12-13,&nbsp;2018<br>
              <strong>Location:</strong> Grayhawk Golf Club<br>
              <strong>Tee Off Reception:</strong><br> April 12, 6:30-9:00&nbsp;p.m.<br>
              <strong>Morning Shotgun Start:</strong><br> April 13, 7:30&nbsp;a.m.<br>
              <strong>Afternoon Shotgun Start:</strong><br> April 13, 1:15&nbsp;p.m.<br>
            </p>
            <a class="button button-green" data-scroll href="#register">Register</a>
        </div>
      </div>
      <div class="col-md-8 pull-md-4">
        <img src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/golf-classic-main.jpg?a" alt="Grayhawk Golf Club">
      </div>
    </div>
  </div>
  <div class="container">
    <img class="giving-slogan" src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/slogan.png" alt="Making Giving Personal">
    <p class="gray-para">Support HonorHealth Military Partnership at the 33<sup>rd</sup> annual Charity Golf Classic. Join us for a fabulous round of golf at Grayhawk Golf Club. With your choice of a morning or afternoon shotgun start, your registration includes a player gift package, breakfast or lunch on the course, and an invitation for you and a guest to the Thursday tee-off reception. Become a sponsor or register as a golfer – either way, your gift will help provide life-saving training to military medical personal and first responders.</p>
  </div>
</div>

<!--=================================  proceeds section   ===============-->
<div class="proceed-wrap">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-4">
        <h2 class="general-h2">Proceeds Benefit HonorHealth Military Partnership</h2>
        <p class="general-para">The Golf Classic has raised over $4 million for HonorHealth programs and services. Proceeds from the 2018 Golf Classic will benefit the HonorHealth Military Partnership which trains military and first responder medical personnel. These service members receive hands-on learning, including clinical rotations and realistic training at the Military Partnership’s simulation lab, where they practice critical medical skills on advanced human patient simulators with life-like functions.</p>
      </div>

      <div class="col-lg-7 offset-lg-1">
        <img src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/golf-classic-mosaic.jpg" alt="Military and First Responder Medical Personnel">
      </div>
    </div>
  </div>
</div>

<!--=================================  Partners section   ===============-->
<div class="container mb-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-12">
      <h1 class="line-after">Thank You To Our Sponsors</h1>
    </div>
    <div class="col-md-6 mb-3">
      <img src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/sponsors-1.jpg" alt="Sponsor Logos">
    </div>
    <div class="col-md-6 mb-3">
      <img src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/sponsors-2.jpg" alt="Sponsor Logos">
    </div>
  </div>
</div>

<!--=================  registration details section   ===============-->
<h1 class="line-after">Choose Your Registration</h1>

<div class="registration-details">
  {% for level in levels %}
  <div class="registration-level">
    <h2 class="registration-heading">
      <span class="cost">{{ level.cost }}</span> {{ level.title }}
      {% if level.features %}
      <i class="fa fa-angle-down" aria-hidden="true"></i>
      {% endif %}
    </h2>
    <div class="registration-content">
      {% if level.features %}
      <ul>
        {% for feature in level.features %}
        <li>{{ feature | safe }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto mb-5">
      <h1 class="line-after">Additional Sponsor Benefits</h1>

      <h2>$10,000+</h2>
      <p>Ten invitations (for two people each) to the Thursday Tee-off Reception/Auction</p>

      <h2>$6,000-$9,999</h2>
      <p>Five invitations (for two people each) to the Thursday Tee-off Reception/Auction</p>

      <h2>$4,250-$5,999</h2>
      <p>Two invitations (for two people each) to the Thursday Tee-off Reception/Auction</p>

      <h2>$1,750-$4,249</h2>
      <p>One invitation (for two people each) to the Thursday Tee-off Reception/Auction</p>

      <h2>All Sponsors Will Receive:</h2>
      <ul>
        <li>Banner/Signage where appropriate</li>
        <li>Recognition on the sponsor sign</li>
        <li>Recognition in tournament promotional material</li>
        <li>Membership in HonorHealth Foundation, commensurate with the level of sponsorship, ($2,000 minimum)</li>
        <li>Recognition in Heartbeat, HonorHealth's donor recognition publication.</li>
      </ul>

      <h2>In-Kind Contributions are welcomed. Contributors will receive:</h2>
      <ul>
        <li>Recognition on the silent auction program</li>
        <li>Recognition on the sponsor sign as a Silent Auction donor</li>
        <li>Recognition in tournament promotional material</li>
      </ul>
    </div>
  </div>
</div>

<!--=================================  form section   ===============-->
<div id="register" class="container">
  <h1 class="line-after">Registration</h1>
  <div id="bbox-root"></div>
  <script type="text/javascript">
    window.bboxInit = function () {
      bbox.showForm('89c97d32-de1d-4bff-a43c-217a9568cdf5');
    };

    (function () {
      var e = document.createElement('script'); e.async = true;
      e.src = 'https://bbox.blackbaudhosting.com/webforms/bbox-min.js';
      document.getElementsByTagName('head')[0].appendChild(e);
    } ());
  </script>
</div>

<div class="container">
  [[S63:3]]
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
    $('.slider').slick({
      prevArrow:"<a class='a-left slick-prev'></a>",
      nextArrow:"<a class='a-right slick-next'></a>"
    });

    $('.registration-heading').click(function () {
      var level = $(this).closest('.registration-level');
      if (level.hasClass('active')) {
        level.removeClass('active');
      } else {
        $('.registration-level').removeClass('active');
        level.addClass('active');
      }
    });
  });
</script>
{% endblock %}
