{% extends "_base.html" %}
{% set page = { title: 'Honor Ball - HonorHealth Foundation' } %}

{% set levels = [
  {
    cost: '$50,000 and above',
    title: 'Emerald Table',
    features: [
      'Full page ad and listing in The Honor Ball 2018 program as an Emerald Sponsor',
      'Emerald table for ten',
      'Premier table location',
      'Lifetime membership in the HonorHealth Foundation <em>Circle of Distinction</em>',
      'Recognition in <em>Heartbeat</em>, HonorHealth Foundation’s donor recognition publication',
      'Name on HonorHealth Foundation’s Walls of Honor at each hospital campus'
    ]
  },
  {
    cost: '$25,000 - $49,999',
    title: 'Diamond Table',
    features: [
      'Full page ad and listing in The Honor Ball 2018 program as a Diamond Sponsor',
      'Diamond table for ten',
      'Premier table location',
      'Lifetime membership in the HonorHealth Foundation’s Circle of Distinction',
      'Recognition in Heartbeat, HonorHealth Foundation’s donor recognition publication',
      'Name on HonorHealth Foundation’s Walls of Honor at each hospital campus'
    ]
  },
  {
    cost: '$20,000 - $24,999',
    title: 'Platinum Table',
    features: [
      'Full page ad and listing in The Honor Ball 2018 program as a Platinum Sponsor',
      'Platinum table for ten',
      'Premier table location',
      'Membership in the HonorHealth Foundation <em>Circle of Distinction</em>',
      'Recognition in <em>Heartbeat</em>, HonorHealth Foundation’s donor recognition publication'
    ]
  },
  {
    cost: '$15,000',
    title: 'Gold Table',
    features: [
      'Full page ad and listing in The Honor Ball 2018 program as a Gold Sponsor',
      'Gold table for ten',
      'Membership in the HonorHealth Foundation <em>Circle of Distinction</em>',
      'Recognition in <em>Heartbeat</em>, HonorHealth Foundation’s donor recognition publication'
    ]
  },
  {
    cost: '$10,000',
    title: 'Honor Circle Table',
    features: [
      'Full page ad and listing in The Honor Ball 2018 program as an Honor Circle Sponsor',
      'Honor Circle table for ten',
      'Membership in the HonorHealth Foundation <em>Circle of Distinction</em>',
      'Recognition in <em>Heartbeat</em>, HonorHealth Foundation’s donor recognition publication'
    ]
  },
  {
    cost: '$10,000',
    title: 'Royal Couple',
    features: [
      'Listing in the The Honor Ball 2018 program as a Royal Couple',
      'Membership in the HonorHealth Foundation <em>Circle of Distinction</em>',
      'Recognition in <em>Heartbeat</em>, HonorHealth Foundation’s donor recognition publication'
    ]
  },
  {
    cost: '$5,000',
    title: 'Benefactor Couple',
    features: [
      'Listing in the The Honor Ball 2018 Program as a Benefactor Couple',
      'Membership in the HonorHealth Foundation <em>Circle of Distinction</em>',
      'Recognition in <em>Heartbeat</em>, HonorHealth Foundation’s donor recognition publication'
    ]
  },
  {
    cost: '$2,000',
    title: 'Angel Couple',
    features: [
      'Listing in the The Honor Ball 2018 Program as an Angel Couple',
      'Membership in the HonorHealth Foundation <em>Circle of Distinction</em>',
      'Recognition in <em>Heartbeat</em>, HonorHealth Foundation’s donor recognition publication'
    ]
  },
  {
    cost: '$1,500',
    title: 'Patron Couple'
  },
  {
    cost: '$750',
    title: 'Patron (Individual)'
  }
] %}

{% block header %}
<a class="button button-green" href="https://give.honorhealth.com/" target="_blank">Donate</a>
<a class="button button-purple" href="https://www.honorhealth.com/community/honorhealth-foundation/events" target="_blank">See All Events</a>
{% endblock %}

{% block content %}
<!--=================================  Promo section   ===============-->
<div class="promo-wrap">
  <div class="container-fluid">
    <div class="row gutter-0 align-items-stretch align-items-lg-center">
      <div class="col-md-4 push-md-8">
        <div class="promo">
            <h1>The Honor Ball</h1>
            <p>
              <strong>Date:</strong> March 17,&nbsp;2018<br>
              <strong>Location:</strong> The Phoenician Grand Ballroom<br>
              <strong>Reception:</strong> 6:00&nbsp;p.m.<br>
              <strong>Dinner and Dancing:</strong> 7:00&nbsp;p.m.<br>
            </p>
            <a class="button button-green" data-scroll href="#register">Register</a>
        </div>
      </div>
      <div class="col-md-8 pull-md-4">
        <img src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/honor-ball-main.jpg" alt="Couples enjoying themselves at the ball">
      </div>
    </div>
  </div>
  <div class="container">
    <img class="giving-slogan" src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/slogan.png" alt="Making Giving Personal">
    <p class="gray-para">The Honor Ball&rsquo;s reputation as one of the Valley&rsquo;s best parties continues with lively entertainment, dinner, and dancing to Impulse, from West Coast Music of Beverly Hills. Net proceeds provide vital support for families, friends and neighbors before during and after a cancer diagnosis. Join the Valley&rsquo;s most generous and supportive community members who understand that finding cures for cancers is a paramount mission to&nbsp;support.</p>
  </div>
</div>

<!--=================================  proceeds section   ===============-->
<div class="proceed-wrap">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-4">
        <h2 class="general-h2">Proceeds Benefit Cancer Care Programs and Services</h2>
        <p class="general-para">The Honor Ball has raised more than $14 million to benefit HonorHealth and support its leadership role in bringing stellar medical care to the people in our community. Proceeds from The Honor Ball 2018 will benefit Research, Programs and Services of the HonorHealth Virginia G. Piper Cancer Center.</p>
      </div>

      <div class="col-lg-7 offset-lg-1">
        <img src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/honor-ball-mosaic.jpg" alt="HonorHealth Virginia G. Piper Cancer Center">
      </div>
    </div>
  </div>
</div>

<!--=================  registration details section   ===============-->
<h1 class="line-after">Choose Your Registration</h1>

<div class="registration-details">
  {% for level in levels %}
  <div class="registration-level">
    <h2 class="registration-heading">
      <span class="cost">{{ level.cost }}</span> {{ level.title }}
      {% if level.features %}
      <i class="fa fa-angle-down" aria-hidden="true"></i>
      {% endif %}
    </h2>
    <div class="registration-content">
      {% if level.features %}
      <ul>
        {% for feature in level.features %}
        <li>{{ feature | safe }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

<!--=================================  form section   ===============-->
<div id="register" class="container">
  <h1 class="line-after">Registration</h1>
  <div id="bbox-root"></div>
  <script type="text/javascript">
    window.bboxInit = function () {
      bbox.showForm('67d3666a-33fc-4725-a76b-b48d8a448c67');
    };

    (function () {
      var e = document.createElement('script'); e.async = true;
      e.src = 'https://bbox.blackbaudhosting.com/webforms/bbox-min.js';
      document.getElementsByTagName('head')[0].appendChild(e);
    } ());
  </script>
</div>

<div class="container">
  [[S63:3]]
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
    $('.slider').slick({
      prevArrow:"<a class='a-left slick-prev'></a>",
      nextArrow:"<a class='a-right slick-next'></a>"
    });

    $('.registration-heading').click(function () {
      var level = $(this).closest('.registration-level');
      if (level.hasClass('active')) {
        level.removeClass('active');
      } else {
        $('.registration-level').removeClass('active');
        level.addClass('active');
      }
    });
  });
</script>
{% endblock %}
