{% extends "_base.html" %}
{% set page = { title: 'Together We Can Save Lives - HonorHealth Foundation' } %}

{% block header %}
<a class="button button-green" href="https://give.honorhealth.com/" target="_blank">Donate</a>
<a class="button button-purple" href="https://www.honorhealth.com/community/honorhealth-foundation/events" target="_blank">See All Events</a>
{% endblock %}

{% block content %}
<!--=================================  Promo section   ===============-->
<div class="promo-wrap">
  <div class="container-fluid">
    <div class="row gutter-0 align-items-stretch align-items-lg-center">
      <div class="col-md-4">
        <div class="promo">
            <h1>Together We Can Save Lives</h1>
            <p>A heart failure program that’s saving lives. Clinical trials that are giving cancer patients hope. A food bank that provides nutritious meals to the hungry. This is just a small snapshot of the ways your gift to HonorHealth Foundation can help make a lasting impact. Make a difference today.</p>
            <a class="button button-green" data-scroll href="#donate">Donate</a>
        </div>
      </div>
      <div class="col-md-8">
        <img src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/together-we-can-save-lives.jpg" alt="Man and Woman standing together">
      </div>
    </div>
  </div>
</div>
<!--=================================  giving section   ===============-->
<img class="giving-slogan" src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/slogan.png" alt="Making Giving Personal">
<div class="giving-wrap">
  <div class="container ">
    <div class="row gutter-60">
      <div class="col-lg-4">
        <div class="giving-block">
          <h2>Support Those in Need</h2>
          <ul>
            <li>Help provide food for hungry children and families in Arizona.</li>
            <li>Give young kids a strong start with quality early childhood education.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="giving-block">
        <h2>Provide Quality Healthcare to Arizona</h2>
        <ul>
          <li>Bring world-renowned physicians to your neighborhood.</li>
          <li>Ensure you and your loved ones have access to advanced medical facilities.</li>
        </ul>
      </div>
      </div>
      <div class="col-lg-4">
        <div class="giving-block">
          <h2>Bring Breakthrough Treatments to Our Community</h2>
          <ul>
            <li>Make sure the latest clinical trials are available right here in our community.</li>
            <li>Invest in innovative treatments that can save lives.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=================================  slider section   ===============-->
<div class="container slider-wrap">
  <div class="slider text-center text-md-left">
    <div class="slide">
      <div class="row">
        <div class="col-md-6 col-lg-7">
          <img src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/register-for-the-golf-tournament.jpg" alt="People hitting balls at range">
        </div>
        <div class="col-md-6 col-lg-5">
          <h2>Register for the Lincoln Invitational Golf Tournament</h2>
          <p>Change lives through the power of philanthropy by participating in our 31st annual tournament. Proceeds will benefit HonorHealth Desert Mission’s community programs, including the <a href="http://www.desertmission.com/programs/food-bank/" target="_blank">Food Bank</a>, <a href="http://www.desertmission.com/programs/adult-day-health-care/" target="_blank">Adult Day Health Care</a>, <a href="http://www.desertmission.com/programs/lincoln-learning-center/" target="_blank">Lincoln Learning Center</a> and <a href="http://www.desertmission.com/programs/neighborhood-renewal/" target="_blank">Neighborhood Renewal.</a></p>
          <a class="button button-green" href="">Register</a>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="row">
        <div class="col-md-6 col-lg-7 ">
          <img src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/register-for-the-golf-tournament.jpg" alt="People hitting balls at range">
        </div>
        <div class="col-md-6 col-lg-5">
          <h2>Register for the Lincoln Invitational Golf Tournament</h2>
          <p>Change lives through the power of philanthropy by participating in our 31st annual tournament. Proceeds will benefit HonorHealth Desert Mission’s community programs, including the <a href="http://www.desertmission.com/programs/food-bank/" target="_blank">Food Bank</a>, <a href="http://www.desertmission.com/programs/adult-day-health-care/" target="_blank">Adult Day Health Care</a>, <a href="http://www.desertmission.com/programs/lincoln-learning-center/" target="_blank">Lincoln Learning Center</a> and <a href="http://www.desertmission.com/programs/neighborhood-renewal/" target="_blank">Neighborhood Renewal.</a></p>
          <a class="button button-green" href="">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=================================  Form section   ===============-->
<div id="donate" class="container form-wrap">
  <div class="row">
    <h1 class ="line-after">Your Gift. Your Choice.</h1>
    {% include "_form.html" %}
  </div>
</div>
<!--=================================  blog section   ===============-->
<div class="blog-wrap">
  <div class="container">
    <h1 class ="line-after">News from HonorHealth Foundation</h1>
    <div class="row gutter-60">
      <div class="col-lg-6 blog-info-wrap">
        <h2>Meet the Robot That Can Sanitize a Hospital Room in 10 Seconds Flat</h2>
        <img src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/sanitize-robot.jpg" alt="">
        <div class="blog-content">
          <p>Morbi cursus dui libero. Quisque nec felis commodo, vehicula orci eu, porttitor augue. Vivamus eu orci sed enim pulvinar condimentum nec eget leo. Quisque sed tristique tellus.</p>
        </div>
      </div>

      <div class="col-lg-6 blog-info-wrap">
        <h2>How One Donor is Helping End Hunger</h2>
        <img src="https://secure2.convio.net/hhfoun/images/content/pagebuilder/amazing-donor.jpg" alt="">
        <div class="blog-content">
          <p>Morbi cursus dui libero. Quisque nec felis commodo, vehicula orci eu, porttitor augue. Vivamus eu orci sed enim pulvinar condimentum nec eget leo. Quisque sed tristique tellus.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    smoothScroll.init();
    $('.slider').slick({
      prevArrow:"<a class='a-left slick-prev'></a>",
      nextArrow:"<a class='a-right slick-next'></a>"
    });
  });
</script>
{% endblock %}
